<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Night Moves Logistical Services</title>
  <style>
    table * {
      padding: 0.5rem 1rem;
    }

    tr:nth-child(2n) {
      background-color: lightgray;
    }

    th {
      text-transform: uppercase;
      font-weight: bold;
      border-bottom: 2px solid darkgray;
    }
  </style>
</head>

<body>
  <h1>Night Moves Inventory System</h1>
  <section id="create-item">
    <h2>Create New Item in Inventory</h2>
    <form action="/api/inventory/create" method="POST">
      <input type="text" name="name" placeholder="item name">
      <input type="number" name="qty" placeholder="qty">
      <input type="text" name="shortdesc" placeholder="short description">
      <input type="text" name="longdesc" placeholder="long description">
      <select name="city">
        <option value="Tulsa">Tulsa, OK</option>
        <option value="Chicago">Chicago, IL</option>
        <option value="Los Angeles">Los Angeles, CA</option>
        <option value="Kalamazo">Kalamazoo, MI</option>
        <option value="Greenville">Greenville, NC</option>
      </select>
      <input type="hidden" name="createform" value="true">
      <button type="submit">Create Item</button>
    </form>
    <p><i>API USAGE: POST http://[host:port]/api/inventory/create <br />
        Fields: 'name:string', 'qty:int', 'shortdesc:string', 'longdesc:string', 'city:string'
      </i></p>
  </section>
  <section id="update-item">
    <h2>Update an Item</h2>
    <form action="/api/inventory/update" , method="POST">
      <input type="number" name="id" placeholder="item id">
      <input type="text" name="name" placeholder="item name">
      <input type="number" name="qty" placeholder="qty">
      <input type="text" name="shortdesc" placeholder="short description">
      <input type="text" name="longdesc" placeholder="long description">
      <select name="city">
        <option value="Tulsa">Tulsa, OK</option>
        <option value="Chicago">Chicago, IL</option>
        <option value="Los Angeles">Los Angeles, CA</option>
        <option value="Kalamazo">Kalamazoo, MI</option>
        <option value="Greenville">Greenville, NC</option>
      </select>
      <button type="submit">Update Item</button>
    </form>
    <p><i>API USAGE: PATCH http://[host:port]/api/inventory/update <br />
        Fields: 'id:int(required)', 'name:string', 'qty:int', 'shortdesc:string', 'longdesc:string',
        'city:string'
      </i></p>
  </section>
  <section id="delete-item">
    <h2>Delete Item</h2>
    <form action="/api/inventory/delete" method="POST">
      <input type="number" placeholder="item id" name="id">
      <button type="submit">Delete Item</button>
    </form>
    <p><i>API USAGE: DELETE http://[host:port]/api/inventory/delete/:id</i></p>
  </section>
  <section id="current-inventory">
    <h2>Current Inventory</h2>
    <p><i>API USAGE: <br />GET http://[host:port]/api/inventory/ - returns all items <br /> GET
        http://[host:port]/api/inventory/:id
        - returns single item with matching id</i></p>
    <table>
      <thead>
        <th>id</th>
        <th>qty</th>
        <th>name</th>
        <th>short desc</th>
        <th>long desc</th>
        <th>city</th>
        <th>weather</th>
      </thead>
      <tbody id="tabledata">
      </tbody>
    </table>
    <script>
      const inventoryURL = 'http://localhost:3000/api/inventory/'
      const fetchData = async (url) => {
        const response = await fetch(url)
        const data = await response.json();
        data.sort(({ id: a }, { id: b }) => a - b)
        const table = document.getElementById('tabledata')
        data.forEach(row => {
          let rowHTML = '<tr>'
          rowHTML += '<td>' + row.id + '</td>'
          rowHTML += '<td>' + row.qty + '</td>'
          rowHTML += '<td>' + row.name + '</td>'
          rowHTML += '<td>' + row.shortdesc + '</td>'
          rowHTML += '<td>' + row.longdesc + '</td>'
          rowHTML += '<td>' + row.city + '</td>'
          rowHTML += '<td>' + row.weather + '</td>'
          rowHTML += '</tr>'
          table.innerHTML += rowHTML;
        })
      }
      fetchData(inventoryURL)
    </script>
  </section>
  <section id="create-shipment">
    <h2>Create New Shipment</h2>
    <p><i>API USAGE: <br />POST http://[host:port]/api/shipments/ship <br />
        Fields: destination:string, custname:string, items:json {[itemid:string]:[qty:int]}
      </i></p>
    <form id='add-shipment-form'>
      <input type="text" name="destination" placeholder="destination" id='shipment-destination'>
      <input type="text" name="custname" placeholder="Customer Name" id='customer-name'>
      <input type="hidden" name="shipform">
      <h3>Item:Qty to Ship</h3>
      <input type="number" name="itemid" id="ship-item-id" placeholder="id">:
      <input type="number" name="itemqty" id="ship-item-qty" placeholder="qty">
      <label for="itemid">Item:</label>
      <label for="itemqty">Qty:</label>
      <button type="button" id="add-to-shipment-btn">Add Item</button>
    </form>
    <table>
      <thead>
        <th>Item ID</th>
        <th>Qty</th>
      </thead>
      <tbody id="current-shipment-items"></tbody>
    </table>
    <button type="submit" form="add-shipment-form">Complete Shipment</button>
    <button type="button" id="clear-shipment-btn">Clear Shipment</button>
    <section id="current-shipments">
      <h2>Scheduled Shipments</h2>
      <table>
        <thead>
          <th>id</th>
          <th>destination</th>
          <th>customer name</th>
          <th>items</th>
          <th>created</th>
        </thead>
        <tbody id="shiptabledata">
        </tbody>
      </table>
      <script>
        const addItemBtn = document.getElementById('add-to-shipment-btn');
        const cancelShipmentBtn = document.getElementById('clear-shipment-btn')
        const shipmentForm = document.getElementById('add-shipment-form');
        const displayData = document.getElementById('current-shipment-items')
        const shipmentsURL = 'http://localhost:3000/api/shipments'
        const fetchShipmentData = async (url) => {
          const response = await fetch(url)
          const data = await response.json();
          data.sort(({ id: a }, { id: b }) => a - b)
          const table = document.getElementById('shiptabledata')
          table.innerHTML = ''
          data.forEach(row => {
            let rowHTML = '<tr>'
            rowHTML += '<td>' + row.id + '</td>'
            rowHTML += '<td>' + row.destination + '</td>'
            rowHTML += '<td>' + row.custname + '</td>'
            rowHTML += '<td>' + JSON.stringify(row.items, null, 2) + '</td>'
            rowHTML += '<td>' + new Date(row.created).toLocaleString() + '</td>'
            rowHTML += '</tr>'
            table.innerHTML += rowHTML;
          })
        }
        fetchShipmentData(shipmentsURL)

        let newShipment = { items: {} };

        addItemBtn.onclick = (e) => {
          e.preventDefault()
          const itemId = document.getElementById('ship-item-id').value
          const itemQty = document.getElementById('ship-item-qty').value
          newShipment.items[itemId] = (newShipment[itemId] || 0) + parseInt(itemQty);
          displayData.innerHTML += `<tr><td>${itemId}</td><td>${itemQty}</td></tr>`
        }

        cancelShipmentBtn.onclick = (e) => {
          e.preventDefault()
          newShipment = { items: {} }
          displayData.innerHTML = ''
        }

        shipmentForm.onsubmit = (e) => {
          e.preventDefault();
          const destination = document.getElementById('shipment-destination').value
          const custname = document.getElementById('customer-name').value
          newShipment = { ...newShipment, destination, custname, shipform: true }
          fetch('/api/shipments/ship', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(newShipment)
          }).then(() => {
            fetchShipmentData(shipmentsURL)
          })
          newShipment = undefined;
          displayData.innerHTML = ''
        }

      </script>
      <section id="delete-shipment">
        <h2>Cancel Shipment</h2>
        <form action="/api/shipments/delete" method="POST">
          <input type="number" placeholder="shipment id" name="id">
          <input type="hidden" name="deleteform" value="true">
          <button type="submit">Delete Shipment</button>
        </form>
        <p><i>API USAGE: DELETE http://[host:port]/api/shipments/delete/:id</i></p>
      </section>
</body>

</html>